# 1. 데이터 로드

In [1]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format) # 항상 float 형식으로

import numpy as np 

# df plot
import cufflinks as cf 
import plotly.plotly as py 
import matplotlib.pyplot as plt 
import seaborn as sns 

# warnings 
import warnings ; warnings.filterwarnings("ignore")

# style
plt.style.use("ggplot")
cf.go_offline()

In [2]:
# 한글 폰트 출력 
import matplotlib
from matplotlib import font_manager, rc 
import platform 

font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc("font",family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

In [3]:
# 데이터 로드 
path = "C:/Users/sk_jo/Desktop/Project/titanic/"

def load_dataset(): 
    sales = pd.read_excel(path+"sales.xlsx",header =1)
    view_rate = pd.read_excel(path+"view_rate.xlsx",header =1, index_col= 0)
    return sales, view_rate

sales = load_dataset()[0]
view_rate = load_dataset()[1]

# 2. 데이터 전처리

In [15]:
import datetime 
## TODO 
## 1.무형 상품은 추정 제외 
## 2.결측된 노출분 채우기 (직전의 값 집어넣기) 
## 3. 판매단가 > 취급액이면 취급액 0 
## 4. 시간 데이터 처리
## 5. 취급액이 50000인경우와 0인 경우 삭제 


def filling_missing_exposure(df):
    #2번 전처리
    for i,row in df.iterrows():
        val = row["노출(분)"]
        if i == 0:
            continue 
        if np.isnan(val):
            if df.loc[i,"방송일시"] == df.loc[i-1,"방송일시"]:
                df.loc[i,"노출(분)"] = df.loc[i-1,"노출(분)"]
            else :
                continue 
    return df 

def custom(price, total):
    # 3전처리 
    if price > total: return 0
    else: return total
    
def handle_date(df):
    # 4번 전처리
    df["방송일시"] = pd.to_datetime(df["방송일시"])
    df['month'] = pd.DatetimeIndex(df['방송일시']).month
    df['day'] = pd.DatetimeIndex(df['방송일시']).day
    df['hour'] = pd.DatetimeIndex(df['방송일시']).hour
    df['minute'] = pd.DatetimeIndex(df['방송일시']).minute
    df['weekday'] = pd.DatetimeIndex(df['방송일시']).weekday
    
    return df 

def deleting_data(df):
    df.drop(df[df["취급액"]==50000].index,axis=0,inplace=True)
    df.drop(df[df["취급액"]==0].index,axis=0,inplace=True)
    return df 
    

def handle_holiday(df):
    # 5번 전처리 
    hol = ['2019-01-01','2019-02-04','2019-02-05','2019-02-06','2019-03-01','2019-05-05','2019-05-06'
           ,'2019-05-12','2019-06-06','2019-08-15','2019-09-12','2019-09-13','2019-09-14','2019-10-03','2019-10-09'
           ,'2019-12-25','2020-01-01']
    df["holiday"] = df["방송일시"].apply(lambda x : 1 if ((datetime.datetime.strftime(x,"%Y-%m-%d")) in hol) else 0 )
    
    return df

    
def pre_processing(df): 
    # 1. 무형 상품 추정 제외 
    df = df.drop(df[df["상품군"]=="무형"].index,axis = 0)
    # 2. 결측된 노출분 채우기 
    df = filling_missing_exposure(df)
                
    # 3. 판매단가 > 취급액이면 취급액 0 
    df["취급액"] = df.apply(lambda x : custom(x["판매단가"], x["취급액"]),axis=1)
    # 4. month, day, hour, minute, weekday 열 추가 
    df = handle_date(df)
    # 5. 공휴일 처리
    df = handle_holiday(df)
    
    # 6. data 삭제 
    df = deleting_data(df)
    
    # reset_index
    df = df.reset_index(drop=True)
    
    return df 

sales = pre_processing(sales)
sales.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,month,day,hour,minute,weekday,holiday
0,2019-01-01 06:00:00,20.00,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.00,1,1,6,0,1,1
1,2019-01-01 06:00:00,20.00,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.00,1,1,6,0,1,1
2,2019-01-01 06:20:00,20.00,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.00,1,1,6,20,1,1
3,2019-01-01 06:20:00,20.00,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.00,1,1,6,20,1,1
4,2019-01-01 06:40:00,20.00,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.00,1,1,6,40,1,1

# 3. 외부 데이터 가지고 오기

## 3-1 날씨 데이터

In [30]:
weather = pd.read_csv("./weathers.csv")
weather.head()

,방송일시,미세먼지(㎍/㎥),초미세먼지(㎍/㎥),오존(ppm),이산화질소농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지 주의보 및 경보,평균기온(℃),최고기온(℃),최저기온(℃),season
0,2019-01-01,39.36,26.12,0.01,0.03,0.69,0.00,0,-5.00,-0.60,-8.20,겨울
1,2019-01-02,33.08,21.36,0.01,0.04,0.68,0.00,0,-4.90,0.20,-8.80,겨울
2,2019-01-03,38.80,23.36,0.01,0.04,0.74,0.01,0,-3.50,3.20,-8.40,겨울
3,2019-01-04,59.44,40.36,0.00,0.06,1.06,0.01,0,-1.10,4.10,-6.20,겨울
4,2019-01-05,65.72,42.52,0.02,0.03,0.64,0.01,1,-2.80,1.10,-5.50,겨울

## 3-2 카테고리 데이터

## 3-3 시청률 데이터

## 3-4 경제지표 데이터

# 4. Feature engineering

In [32]:
sales["판매량"] = sales["취급액"]/sales["판매단가"]
sales = sales[["판매량","취급액","weekday","방송일시","방송날짜","holiday"]]
weather = weather[["방송일시","season"]]

In [33]:
weather = weather.rename(columns = {"방송일시":"방송날짜"})

In [34]:
sales.head()

     판매량        취급액  weekday                방송일시        방송날짜  holiday
0  52.61 2099000.00        1 2019-01-01 06:00:00  2019-01-01        1
1 109.55 4371000.00        1 2019-01-01 06:00:00  2019-01-01        1
2  81.75 3262000.00        1 2019-01-01 06:20:00  2019-01-01        1
3 174.31 6955000.00        1 2019-01-01 06:20:00  2019-01-01        1
4 167.22 6672000.00        1 2019-01-01 06:40:00  2019-01-01        1

In [62]:
new_df = pd.merge(sales,weather,how = "inner", on = "방송날짜")

In [63]:
new_df["방송시간"] = new_df["방송일시"].apply(lambda x : datetime.datetime.strftime(x,"%H:%M"))
new_df.head()

,판매량,취급액,weekday,방송일시,방송날짜,holiday,season,방송시간
0,52.61,2099000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00
1,109.55,4371000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00
2,81.75,3262000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20
3,174.31,6955000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20
4,167.22,6672000.00,1,2019-01-01 06:40:00,2019-01-01,1,겨울,06:40

In [64]:
#쉬는날과 안쉬는날의 데이터로 만들어 봅니다.
def check_off(weekday, holiday):
    if (weekday in [5,6] ) or (holiday == 1) : 
        return 1 
    else:
        return 0 
    
new_df["Day_off"] = new_df.apply(lambda x: check_off(x["weekday"],x["holiday"]) ,axis=1)
new_df.head()

,판매량,취급액,weekday,방송일시,방송날짜,holiday,season,방송시간,Day_off
0,52.61,2099000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00,1
1,109.55,4371000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00,1
2,81.75,3262000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20,1
3,174.31,6955000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20,1
4,167.22,6672000.00,1,2019-01-01 06:40:00,2019-01-01,1,겨울,06:40,1

season별 주중 주말 데이터의 시간대별 판매량 및 취급액 차이

In [65]:
new_df["hour"] = new_df["방송시간"].apply(lambda x:x.split(":")[0] )
new_df.head()

,판매량,취급액,weekday,방송일시,방송날짜,holiday,season,방송시간,Day_off,hour
0,52.61,2099000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00,1,06
1,109.55,4371000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00,1,06
2,81.75,3262000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20,1,06
3,174.31,6955000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20,1,06
4,167.22,6672000.00,1,2019-01-01 06:40:00,2019-01-01,1,겨울,06:40,1,06

In [158]:
def visualize(df,season, y = "판매량"):
    # new_df 
    # season이름 
    df = df[df["season"]==season]
    day_on = df[df["Day_off"]==0]
    day_off = df[df["Day_off"]==1]
    
    
    day_on.groupby(["hour"]).sum()[y].iplot(kind = "bar",title= "{}의 쉬지 않는날 시간별 {} 총합".format(season,y))
    day_off.groupby(["hour"]).sum()[y].iplot(kind = "bar",colors = "blue",title= "{}의 쉬는날 시간별 {} 총합".format(season,y))
    
    return  day_on.groupby(["hour"]).sum()[y], day_off.groupby(["hour"]).sum()[y]
        

day_on, day_off = visualize(new_df,"가을",y="취급액")

In [154]:
day_on, day_off = visualize(new_df,"겨울",y="취급액")

In [49]:
pd.DataFrame(day_on, index = day_on.index, columns = ["취급액"]).sort_values(by="취급액",ascending=False)

                취급액
hour
21   11062073000.00
20    9929959000.00
22    9537033000.00
23    8039051000.00
19    7879312000.00
18    7193680000.00
17    7053369000.00
16    6960652000.00
11    6888576000.00
10    6869511000.00
15    6808336000.00
14    6117081000.00
09    5937538000.00
12    5903961000.00
13    5357413000.00
00    4846104000.00
08    4553636000.00
07    4459412000.00
01    2485437000.00
06    2187452000.00
02     408481000.00

In [84]:
def visualize_ratio(df,season, y = "판매량"):
    # new_df 
    # season이름 
    df = df[df["season"]==season]
    day_on = df[df["Day_off"]==0]
    day_off = df[df["Day_off"]==1]
    
    total_day_on =  day_on.groupby(["hour"]).sum()[y].sum()
    total_day_off = day_off.groupby(["hour"]).sum()[y].sum()
    
    (day_on.groupby(["hour"]).sum()[y]/total_day_on).iplot(kind = "bar",title= "{}의 주중 시간별 {} 총합".format(season,y))
    (day_off.groupby(["hour"]).sum()[y]/total_day_off).iplot(kind = "bar",colors = "blue",title= "{}의 주말 시간별 {} 총합".format(season,y))
    
    return  day_on.groupby(["hour"]).sum()[y], day_off.groupby(["hour"]).sum()[y]
        

day_on, day_off = visualize_ratio(new_df,"겨울",y="취급액")

In [52]:
pd.DataFrame(day_on, index = day_on.index, columns = ["판매량"]).sort_values(by="판매량",ascending=False)

           판매량
hour
17   100686.90
18    88702.23
16    87447.69
11    78470.99
19    77719.99
10    70340.79
13    60601.58
20    59892.50
09    59842.47
15    56922.43
07    56586.27
14    51800.05
12    51606.86
08    49971.97
21    42014.85
22    33718.95
00    31017.10
06    29649.58
01    21958.91
23    21656.30
02     3812.42

In [139]:
new_df = new_df[new_df["season"].isin(["겨울","가을"])].reset_index(drop=True)

In [140]:
new_df.drop(new_df[new_df["취급액"]==0].index,axis=0,inplace=True)
new_df.drop(new_df[new_df["취급액"]==50000].index,axis=0,inplace=True)
new_df[new_df["취급액"]==0]

Empty DataFrame
Columns: [판매량, 취급액, weekday, 방송일시, 방송날짜, holiday, season, 방송시간, Day_off, hour, Prime]
Index: []

In [141]:
def prime_or_not(season, hour, day_off):
    
    if season =="가을":
        if day_off == 1:
            #휴일인경우
            if hour in ["16","17","21","22"]:
                return 1 
            else :
                return 0 
        else: 
            #아닌경우
            if hour in ["20","21","22"]:
                return 1 
            else : 
                return 0
            
    elif season == "겨울":
        if day_off == 1:
            #휴일인경우
            if hour in ["16","17","21","22"]:
                return 1
            else : 
                return 0 
            
        else: 
            #아닌경우
            if hour in ["20","21","22"]:
                return 1 
            else: 
                return 0 

new_df["Prime"] = new_df.apply(lambda x : prime_or_not(x["season"],x["hour"],x["Day_off"]),axis=1)
new_df.head()

,판매량,취급액,weekday,방송일시,방송날짜,holiday,season,방송시간,Day_off,hour,Prime
0,52.61,2099000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00,1,06,0
1,109.55,4371000.00,1,2019-01-01 06:00:00,2019-01-01,1,겨울,06:00,1,06,0
2,81.75,3262000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20,1,06,0
3,174.31,6955000.00,1,2019-01-01 06:20:00,2019-01-01,1,겨울,06:20,1,06,0
4,167.22,6672000.00,1,2019-01-01 06:40:00,2019-01-01,1,겨울,06:40,1,06,0

In [156]:
import seaborn as sns 

new_df.groupby(["season","Prime"]).mean()["취급액"].iplot(kind="bar")
new_df.groupby(["season","Prime"]).std()["취급액"].iplot(kind="bar",color = "blue")

In [165]:
new_df.groupby(["weekday","hour"]).describe()["취급액"].to_csv("연습.xlsx")